#body{
    background: url(' 38229808-plain-backgrounds.jpg') fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#box{
    background-color: crimson;
    
}
#home{
    background: url('wallpaper-orange-012.png') fixed;
    background-repeat: no-repeat;
    background-size: cover;
}